@font-face {
    font-family:"ivystyle-sans";
    src:url("https://use.typekit.net/af/eeee61/00000000000000007735c082/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/eeee61/00000000000000007735c082/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/eeee61/00000000000000007735c082/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}


*{
    box-sizing: border-box ;
}
html{
    background: black;
    display:flex; justify-content: center;
}
body{
    display:flex;
    min-width:1000px;
    max-width:2000px;
    overflow:hidden;

}

#area-1{
    height:100vh;
    width: max(100px, 50%);

    background-image: url(landscape_painting.png);

    display:flex; align-items: center;

    --logo-size: 200px;
    
    #logo-highlight{

        width:100%;
        height: calc(1.5*var(--logo-size));
        background-color: rgba(255,255,255,0.5);

        display:flex; justify-content:center; align-items:center;

    }

    #logo-area-1{
        height:var(--logo-size);
        width: auto;
    }
}


#area-2{
    margin-left:0;
    height:100vh;
    width: max(100px, 50%);  
    padding: 1rem;
    background:white;

    display:flex; align-items:center; justify-content:center;

    #container-area-2{
        height:70%;

        display:flex; flex-direction:column;
        justify-content: space-evenly;
        align-items:center;
    }

    #logo{
        margin-bottom: 1rem;
    }

    #text-area-2{
        width: 50ch;
    }

    #incitation_and_introduction{

        width: 100%;

        font-family: 'ivystyle-sans', sans-serif;

        font-weight: 300; 
        font-style: normal;
    }

    #form{
        display:flex; flex-direction:column;
        align-items:center
    }

    #form .group{
        display:flex; flex-direction: row;
        margin: 0.5rem;
    }

    .input-div{
        display:flex; flex-direction:column;

        label{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 100; 
            font-size: 0.7rem;
            letter-spacing: 0.05rem;
            color: rgb(20,20,20)
        }

        input{
            width: 90%;
        }
        input:invalid:not(:placeholder-shown){
            border: 3px solid red;
        }
        input:valid:not(:placeholder-shown){
            border: 3px solid green;
        }
        input::placeholder{
            color: transparent;
        }
    }

    #submit-button{
        width: 50%;
        height: 2rem;
        margin-top: 2rem;
        border-radius: 0.5rem;
        border: 0;
        background: rgb(250, 150, 100)
    }
    #submit-button:hover{
        background: rgba(250, 150, 100, 0.5) !important;
    }
}